.loruni-faq-icon {
  appearance: none;
  border: 0;
  background: transparent;
  color: var(--faq-foreground, var(--color-neutral-950));
  margin: 0;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: min-content;
  height: min-content;
  padding: var(--component-faq-icon-plus-padding);
  gap: var(--component-faq-icon-plus-gap);
  position: relative;
  overflow: visible;
  cursor: pointer;
}

